*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    color: #363636;
}

body{
    background-image: url(images/samurai.jpg);
    background-size: cover;
    padding: 0px;
    margin: 0px;
}

.bottombar{
    border: 1px solid gainsboro;
    display: flex;
    bottom: 0;
    justify-content: space-between;
    position: absolute;
    z-index: 1;
    width: 100%; 
    height: 56px;
    backdrop-filter: blur(20px); 
    background-color: #e3e3e363; 
    color: #afafaf;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 78;
}

.app{
    border: 1px solid gainsboro; 
    width: 850px;
    height: 480px;
    border-radius: 10px;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-55%);
    background-color: #e3e3e363; 
    backdrop-filter: blur(30px);
    display: none;
}
.appheader{
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 100%;
    padding: 10px;
    backdrop-filter: blur(10px);
    border-radius: 2px;
    position: absolute;
    left: 0;
    top: 0;
    gap: 4px;
}

img{
    object-fit: cover; 
    width: 364px; 
    height: 264px;
    border-radius: 20px;
}
#welcomeopen{
    display: flex; 
    align-items: center; 
    gap: 4px; 
    color: black; 
    font-weight: bold;
    cursor: pointer;
}
#dragger{
    flex-grow: 1; 
    cursor: grab;
    cursor: move;
}
.circle{
    cursor: pointer; 
    width: 16px;
    height: 16px;
    border-radius: 50%;
}
.circle:hover{
    border: 0.5px solid gainsboro;
}
.datebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 12px;
    color: white;
}
#icon-img{
    width: 34px;
    height: 34px;
}
#first{
    display: flex;
    align-items: center;
    gap: 9px;
}

.widget{
    margin: 10px;
    padding: 5px; 
    display: inline-block;
    width: 81px;
    height: 70px;
    background-color: transparent; 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.widget:hover{
    background-color: hsla(207, 82%, 96%, 0.715);
    cursor: pointer;
}

.calcbody{
    width: 100%;
    padding: 20px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#monitor{
    width: 100%;
    height: 100%;
}
#monitor input{
    width: 100%;
    box-sizing: border-box;
    height: 65px;
    margin-bottom: 12px;
    padding: 10px;
    border: 0.5px solid gainsboro;
    border-radius: 10px;
    background: transparent;
    backdrop-filter: blur(30px);
    font-size: 30px;
    text-align: right;
}

#keyboard{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 25px;
}
#keyboard button{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    font-size: 20px;
    font-family: cursive;
    margin: 5px;
    cursor: pointer;
    border: 0.5px solid gainsboro;
    transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
}
#keyboard button:hover{
    border: 1px solid gray;
    backdrop-filter: blur(30px);
}

#keyboard #equal{
    width: 350px; 
    background-color: rgba(0, 112, 240, 0.838); 
    color: white;
    font-size: 35px;
    font-weight: bold;
    transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
}
#keyboard #equal:hover{
    background-color: transparent; 
    border: 1px solid rgba(0, 112, 240, 0.838);
    color: black;
    
}

#notescontent{
    width: 100%;
    height: 360px;
    background-color: transparent;
    margin-top: 5px;
}

.paper {
    width: 700px;
    height: 500px;

    background: #fff;

    border-radius: 3px;

    box-shadow:
        0 10px 30px rgba(0,0,0,.2),
        inset 0 0 30px rgba(0,0,0,.04);

    overflow: hidden;
}

.notebook {
    width: 90%;
    height: 100%;

    box-sizing: border-box;
    padding: 12px 30px 12px 65px;

    border: none;
    outline: none;
    resize: none;

    font-family: "Segoe Print", cursive;
    font-size: 18px;
    line-height: 32px;

    background:
        linear-gradient(
            to right,
            transparent 63px,
            #e88 63px,
            #e88 65px,
            transparent 65px
        ),
        repeating-linear-gradient(
            to bottom,
            transparent 0px,
            transparent 31px,
            #b8c7d9 31px,
            #b8c7d9 32px
        );

    background-position: 0 12px;
    background-size: 100% 32px;
}
.notebookcontent{
    overflow: scroll; 
    height: fit-content;
}
.notebookcontent::-webkit-scrollbar {
    display: none; 
}
#barcontainer{
    width: 100%;
    height: 420px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

#leftbar{
    display: flex;
    flex-direction: column;
    height: 100%; 
    flex-grow: 1; 
}

#rightbar{
    height: 100%; 
    flex-grow: 6;
    display: flex;
    flex-direction: column;
}

#place_selector{
    display: flex;
    flex-grow: 1;
    margin: 3px;
    flex-direction: column;
    justify-content: space-around;
}

#place_selector button{
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    background-color: transparent;
    border-radius: 3px;
}

#place_selector button:hover{
    border: 1px solid gainsboro;
}

#myimage{
    width: 250px; 
    height: 250px; 
    border-radius: 50%; 
    float: right;
    margin: 20px;
}

#weather_result{
    overflow: scroll;
    height: 100%;
    padding: 5px;
    color: rgb(49, 49, 49);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#weather_result::-webkit-scrollbar{
    display: none;
}

#update{
    border: 1px solid gainsboro;
    background-color: rgba(0, 112, 240, 0.838); 
    color: aliceblue;
    transition: border 0.3s ease-in, background-color 0.3s ease-in, color 0.3s ease-in;
    cursor: pointer;
    border-radius: 3px;
    padding: 5px;
}

#update:hover{
    border: 1px solid rgba(0, 112, 240, 0.838); 
    background-color: transparent;
    color: rgb(67, 67, 67);
}

#search_weather{
    background-color: transparent;
    color: rgb(107, 107, 107);
    border: none;
    border-radius: 3px;
    padding: 5px;
}

.note_button{
    float: right;
    font-family: cursive;
    margin-top: 40px;
    margin-right: 5px;
    padding: 5px;
    border: 1px solid gainsboro;
    background-color: #006cf0d6; 
    transition: background-color 0.3s ease-in, border 0.3s ease-in, color 0.3s ease-in;
    color: aliceblue;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}

.note_button:hover{
    border: 1px solid #0080f0d6; 
    background-color: transparent;
    color: #434343;
}

#setting_content{
    width: 100%;
    height: 350px; 
    padding: 5px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

#setting_content::-webkit-scrollbar{
    display: none;
}

#setting_content button{
    margin: 5px 20px 5px 20px;
    border-radius: 5px;
    border: 1px solid gainsboro;
    padding: 10px;
    cursor: pointer;
    font-family: cursive;
    font-size: 20px;
    background-color: transparent;
    backdrop-filter: blur(20px);
}

#setting_content button:hover{
    scale: 1.01;
    translate: 2px;
}

#show_storage{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-left: 0px 10px;

}

#show_storage p{
    display: inline-block;
    margin-left: 20px;
}




