*{
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

body{
    background-image: url(images/lighttheme.png);
    background-size: cover;
    padding: 0px;
    margin: 0px;
}

.bottombar{
    border: 1px solid hsl(0, 3%, 81%);
    display: flex;
    bottom: 0;
    justify-content: space-between;
    position: absolute;
    z-index: 1;
    width: 100%; 
    height: 56px;
    backdrop-filter: blur(20px); 
    background-color: transparent; 
    color: #afafaf;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 78;
}

.app{
    border: 1px solid gainsboro; 
    width: 850px;
    height: 480px;
    border-radius: 10px;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-55%);
    background-color: transparent;
    backdrop-filter: blur(30px);
    display: none;
}
.appheader{
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 100%;
    padding: 10px;
    backdrop-filter: blur(10px);
    border-radius: 2px;
    position: absolute;
    left: 0;
    top: 0;
    gap: 4px;
}

img{
    object-fit: cover; 
    width: 364px; 
    height: 264px;
    border-radius: 20px;
}
#welcomeopen{
    display: flex; 
    align-items: center; 
    gap: 4px; 
    color: black; 
    font-weight: bold;
    cursor: pointer;
}
#dragger{
    flex-grow: 1; 
    cursor: grab;
    cursor: move;
}
.circle{
    cursor: pointer; 
    width: 16px;
    height: 16px;
    border-radius: 50%;
}
.circle:hover{
    border: 0.5px solid gainsboro;
}
#date{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 12px;
}
#icon-img{
    width: 34px;
    height: 34px;
}
#first{
    display: flex;
    align-items: center;
    gap: 9px;
}

.widget{
    margin: 10px;
    padding: 5px; 
    backdrop-filter: blur(10px);
    display: inline-block;
    width: 81px;
    height: 70px;
    background-color: transparent; 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.widget:hover{
    background-color: hsla(209, 92%, 90%, 0.715);
    cursor: pointer;
}

.calcbody{
    width: 100%;
    padding: 20px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#monitor{
    width: 100%;
    height: 100%;
}
#monitor input{
    width: 100%;
    box-sizing: border-box;
    height: 65px;
    margin-bottom: 12px;
    padding: 10px;
    border: 0.5px solid gainsboro;
    border-radius: 10px;
    background: transparent;
    backdrop-filter: blur(30px);
    color: hsla(0, 3%, 52%, 0.881);
    font-size: 30px;
    text-align: right;
}
#monitor input::placeholder{
    color: rgb(239, 236, 236);
}
#keyboard{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 25px;
}
#keyboard button{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    font-size: 20px;
    font-family: cursive;
    margin: 5px;
    cursor: pointer;
    border: 0.5px solid gainsboro;
    transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
}
#keyboard button:hover{
    border: 1px solid gray;
    backdrop-filter: blur(30px);
}

#keyboard #equal{
    width: 350px; 
    background-color: rgba(0, 112, 240, 0.838); 
    color: white;
    font-size: 35px;
    font-weight: bold;
    transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
}
#keyboard #equal:hover{
    background-color: transparent; 
    border: 1px solid rgba(0, 112, 240, 0.838);
    color: black;
    
}

#notescontent{
    width: 100%;
    height: 360px;
    background-color: transparent;
    margin-top: 5px;
}

.paper {
    width: 700px;
    height: 500px;

    background: #fff;

    border-radius: 3px;

    box-shadow:
        0 10px 30px rgba(0,0,0,.2),
        inset 0 0 30px rgba(0,0,0,.04);

    overflow: hidden;
}

.notebook {
    width: 90%;
    height: 100%;

    box-sizing: border-box;
    padding: 12px 30px 12px 65px;

    border: none;
    outline: none;
    resize: none;

    font-family: "Segoe Print", cursive;
    font-size: 18px;
    line-height: 32px;

    background:
        linear-gradient(
            to right,
            transparent 63px,
            #e88 63px,
            #e88 65px,
            transparent 65px
        ),
        repeating-linear-gradient(
            to bottom,
            transparent 0px,
            transparent 31px,
            #b8c7d9 31px,
            #b8c7d9 32px
        );

    background-position: 0 12px;
    background-size: 100% 32px;
}
.notebookcontent{
    overflow: scroll; 
    height: fit-content;
}
.notebookcontent::-webkit-scrollbar {
    display: none; 
}